:root {
  --button-background-color: #666;
  --button-font-color: #fff;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: var(--button-background-color);
  border-radius: var(--base-border-radius);
  border: none;
  color: var(--button-font-color);
  cursor: pointer;
  padding: 1em var(--base-spacing);
  text-align: center;
  text-decoration: none;
  margin-bottom: var(--small-spacing);
  display: block;

  &:hover {
    background-color: color-mod(var(--button-background-color) lightness(30%));
    color: var(--button-font-color);
  }

  &:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }


}

.btn {
  &--full {
    width: 100%;
  }
  &--small {
    padding: calc(var(--small-spacing) / 2) calc(var(--base-spacing) / 2);
  } 
}