:root {
  --input-background-color: #fff;
  --label-font-color: #666;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  margin-bottom: calc(var(--small-spacing) / 2);
  padding: 0;
}

label {
  display: block;
  margin-bottom: calc(var(--small-spacing) / 2);
  color: var(--label-font-color);
}

input,
select,
textarea {
  display: block;
}

select {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='darkgray'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 16px;
  background-position: calc(100% - 10px) 65%;
  background-repeat: no-repeat;
  margin-bottom: var(--small-spacing);
  padding: calc(var(--small-spacing) * 1.2);
  width: 100%;
  -webkit-appearance: none;
  border-radius: var(--base-border-radius);
  background-color: var(--input-background-color);
  border: var(--base-border);
  
  &:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

}

textarea {
  resize: vertical;
}

textarea,
[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]) {
  appearance: none;
  background-color: var(--input-background-color);
  border: var(--base-border);
  border-radius: var(--base-border-radius);
  box-sizing: border-box;
  margin-bottom: var(--small-spacing);
  padding: calc(var(--small-spacing) * 1.2);
  width: 100%;

  &:hover {
    border-color: color-mod(var(--base-border-color) shade(20%));
  }

  &:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

  &:disabled {
    background-color: color-mod(var(--input-background-color) shade(5%));
    cursor: not-allowed;
  }

  &::placeholder {
    color: color-mod(var(--label-font-color) lightness(60%));
  }
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: calc(var(--small-spacing) / 2);
}

[type="file"] {
  margin-bottom: var(--small-spacing);
  width: 100%;
}

[type="checkbox"],
[type="radio"],
[type="file"],
select {
  &:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
  &:hover {
    border-color: color-mod(var(--base-border-color) shade(20%));
  }
}