/* Default mobile first */

/* Large phones */
@custom-media --viewport-phone (min-width: 570px);
/* Small devices (tablets, 768px and up) */
@custom-media --viewport-tablet (min-width: 768px);
/* Medium devices (desktops, 992px and up) */
@custom-media --viewport-desktop (min-width: 992px);
/* Large devices (large desktops, 1200px and up) */
@custom-media --viewport-big-desktop (min-width: 1200px);


:root{

  /* Sizes */
  --site-max-width: 1200px;
  
  /* Fonts */
  /* --base-header-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  /* --base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  --base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --base-header-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* Spacing */
  --base-spacing: 1.5em;
  --small-spacing: calc(var(--base-spacing) / 2);

  /* Colors */
  /* https://github.com/jonathantneal/postcss-color-mod-function */
  --body-bg-color: #dfdfdf;
  --font-color: #6a6a6a;
  --font-heading-color:  #4a4a4a;
  --action-color: blue;

  /* Borders */
  --base-border-color: #ccc;
  --base-border: 1px solid var(--base-border-color);
  --base-border-radius: 3px;

  /* Focus */
  /* --focus-outline-color: color-mod(var(--action-color) tint(20%)); */
  --focus-outline-color: var(--action-color);
  --focus-outline-width: 3px;
  --focus-outline: var(--focus-outline-width) solid var(--focus-outline-color);
  --focus-outline-offset: 2px;

  /* Animations */
  --base-duration: 150ms;
  --base-timing: ease;

}