

@import "normalize.css";
@import "./css/vars.css";
@import "./css/typo.css";
@import "./css/layout.css";
@import "./css/form.css";
@import "./css/buttons.css";
@import "./css/lists.css";
@import "./css/media.css"; 



.panel {
  margin-top: calc(var(--base-spacing) * 2);
  background-color: white;
  padding: calc(var(--base-spacing) * 1.4);
  /* 3d look */
  /* box-shadow: 1px 3px 30px -17px rgba(0,0,0,0.44); */
  /* Flat */
  border: 1px solid #dfdfdf;
  grid-column: col 2 / span 10;

  @media (--md) {
    grid-column: col 5 / span 4
  }
}



.grid{
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}