

@import "normalize.css";
@import "./css/vars.css";
@import "./css/typo.css";
@import "./css/layout.css";
@import "./css/form.css";
@import "./css/buttons.css";
@import "./css/lists.css";
@import "./css/media.css"; 



.panel {
  @util center;
  width: 400px;
  background-color: white;
  padding: calc(var(--base-spacing) * 1.4);
  /* 3d look */
  /* box-shadow: 1px 3px 30px -17px rgba(0,0,0,0.44); */
  /* Flat */
  border: 1px solid #dfdfdf;
}